.div.container {
    position: relative;
	color: white;
	padding: 0px;
}
    
div.centered {
    color: white;
    font-size: 6em;
    font-weight: 700;
    opacity: 40%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

img {
    width: 100%;
}
